<main class="mt-2">
  <div class="container-fluid">
    <!-- Page Title -->
    <div class="row">
      <div class="col-md-12 text-center fw-bold fs-3 text-primary mb-3">
       LIBRARY MANAGEMENT SYSTEM
      </div>
    </div>

    <!-- Horizontal Navigation Bar -->
    <div class="row">
      <div class="col-md-12">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link active" href="#" >BOOK</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">MEMBERS</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">BOOK ISSUING & RETURNING</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">REPORTS</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>

    <!-- Form and Table Section -->
    <div class="row mt-4">
      <!-- Form Section -->
      <div class="col-lg-4 mb-4">
        <div class="card shadow h-100 border-0">
          <div class="card-header bg-primary text-white fw-bold">Book Form</div>
          <div class="card-body">
            <form (ngSubmit)="SaveBook()">
              <div class="form-group mb-3">
                <label for="isbn" class="fw-bold">Book ISBN<span class="text-danger">*</span></label>
                <input type="text" class="form-control mt-2" id="isbn" name="isbn"
                  [(ngModel)]="BookObj.isbn" required placeholder="Enter Book ISBN">
              </div>
              <div class="form-group mb-3">
                <label for="title" class="fw-bold">Title <span class="text-danger">*</span></label>
                <input type="text" class="form-control mt-2" id="title" name="title"
                  [(ngModel)]="BookObj.title" required placeholder="Enter Title">
              </div>
              <div class="form-group mb-3">
                <label for="author" class="fw-bold">Author<span class="text-danger">*</span></label>
                <input type="text" class="form-control mt-2" id="author" name="author"
                  [(ngModel)]="BookObj.author" required placeholder="Enter Author">
              </div>
              <div class="form-group mb-3">
                <label for="comAddressThree" class="fw-bold">Publisher <span
                    class="text-danger">*</span></label>
                <input type="text" class="form-control mt-2" id="publisher" name="publisher"
                  [(ngModel)]="BookObj.publisher" required placeholder="Publisher">
              </div>
              <div class="form-group text-end mt-4">
                <button class="btn btn-primary px-4">{{isEditBook == false ? "Submit" : "Update"}}</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- Table Section -->
      <div class="col-lg-8">
        <div class="card shadow h-100 border-0">
          <div class="card-header bg-primary text-white fw-bold">BOOK LIST</div>
          <div class="card-body overflow-auto">
            <div class="input-group mb-3">
              <input type="text" class="form-control"  [(ngModel)]="searchTerm"
                placeholder="Search Student" aria-label="Search">
              <button class="btn btn-primary" type="button"><i class="bi bi-search"></i></button>
            </div>
            <table class="table table-striped table-bordered align-middle text-center">
              <thead class="bg-light">
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">ISBN</th>
                  <th scope="col">Title</th>
                  <th scope="col">Author</th>
                  <th scope="col">Publisher</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let bookObj of Books">
                  <td>{{bookObj.id}}</td>
                  <td>{{bookObj.isbn}}</td>
                  <td>{{bookObj.title}}</td>
                  <td>{{bookObj.author}}</td>
                  <td>{{bookObj.publisher}}</td>
                  <td class="text-center">
                    <button class="btn btn-warning me-1" (click)="GetBookByIsbn(bookObj.isbn)">
                      <i class="bi bi-pencil-square"></i>Update
                    </button>
                    <button class="btn btn-danger me-1" (click)="DeleteBookByIsbn(bookObj.isbn)">
                      <i class="bi bi-archive">Delete</i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</main>
